{{{ msg }}}
<form class="container" method="POST" action="contact/send">
  <div class="form-group">
    <label for="fullname">&#9759;Your full name</label>
    <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Full name">
  </div>
  <div class="form-group">
    <label for="email">&#9993;Your best Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <label for="subject">Select subject matter</label>
    <select class="form-control" id="subject" name="subject">
      <option value="Business">Business</option>
      <option value="Events">Events</option>
      <option value="Meetings">Meetings</option>
      <option value="Techs information">Techs information</option>
      <option value="Other">Other</option>
    </select>
  </div> 
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Write your message here &#9759;</label>
    <textarea name="msg" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-info btn-block">SEND EMAIL</button>
  </div>
</form>