<br><br>
<form action="about/edit" method="POST"></form>
<div class="container">
    <div class="row align-items-center">
   
        <h1 class="col">About me</h1>
        <textarea name="about-edit" id="about-edit" cols="100" rows="10">{{about.description}}</textarea>
    </div>
    <br>
    <div class="row offset-md-6">       
        <button type="submit" href="/about/edit" class="btn btn-success btn-block ">Save</button>                
    </div>   
</div>
</form>